
 # Adaptaci√≥n del Ejercicio 5.9.2, Map of Science 
## Se realiza una busqueda del tema de interes, Fusarium oxysporum.
    "Importamos los modules a usar desde PubMed."

In [54]:
%config IPCompleter.greedy=True

In [61]:
import re
import csv
import itertools

In [62]:
with open('pubmed-fusariumox-set.txt', encoding="utf8") as f:
    info = f.read()

In [66]:
# info
len (info)

33405

In [67]:
info = re.sub(r'\n\s{6}', ' ', info)

In [68]:
print(info[:2000])

PMID- 32692281
OWN - NLM
STAT- MEDLINE
DCOM- 20200903
LR  - 20210502
IS  - 0031-949X (Print)
IS  - 1943-7684 (Electronic)
IS  - 0031-949X (Linking)
VI  - 110
IP  - 9
DP  - 2020 Sep
TI  - Accessory Chromosomes in Fusarium oxysporum.
PG  - 1488-1496
LID - 10.1094/PHYTO-03-20-0069-IA [doi]
AB  - Most genomes within the species complex of Fusarium oxysporum are organized into two  compartments: the core chromosomes (CCs) and accessory chromosomes (ACs). As opposed  to CCs, which are conserved and vertically transmitted to carry out essential  housekeeping functions, lineage- or strain-specific ACs are believed to be initially  horizontally acquired through unclear mechanisms. These two genomic compartments are  different in terms of gene density, the distribution of transposable elements, and  epigenetic markers. Although common in eukaryotes, the functional importance of ACs  is uniquely emphasized among fungal species, specifically in relationship to fungal  pathogenicity and their adaptation to diverse hosts. With a focus on the  cross-kingdom fungal pathogen F. oxysporum, this review provides a summary of the  differences between CCs and ACs based on current knowledge of gene functions, genome  structures, and epigenetic signatures, and explores the transcriptional crosstalk  between the core and accessory genomes.
FAU - Yang, He
AU  - Yang H
AD  - University of Massachusetts, Biochemistry and Molecular Biology, Amherst, MA 01003.
FAU - Yu, Houlin
AU  - Yu H
AD  - University of Massachusetts, Biochemistry and Molecular Biology, Amherst, MA 01003.
FAU - Ma, Li-Jun
AU  - Ma LJ
AUID- ORCID: 0000-0002-2733-3708
AD  - University of Massachusetts, Biochemistry and Molecular Biology, Amherst, MA 01003.
LA  - eng
GR  - R01 EY030150/EY/NEI NIH HHS/United States
PT  - Journal Article
PT  - Review
DEP - 20200806
TA  - Phytopathology
JT  - Phytopathology
JID - 9427222
SB  - IM
MH  - Chromosomes, Fungal
MH  - Fusarium/*genetics
MH  - Genome, Fungal
MH  - Phylogeny
MH  - Plant Di

In [59]:
codes = re.findall(r'AD.+, (.+[a-z-A-Z]).  ?Electronic|AD.+, (.+[a-z-A-Z]).  [^\s<>"]+@[^\s<>"]+|AD.+, (.+[a-z-A-Z]). [^\s<>"]+@[^\s<>"]+|AD.+,  ?(.+[a-z-A-Z]).?|', info)

basic_list = itertools.chain(*codes)
basic_list=list(basic_list)
basic_list

FR_List = [] 
for element in basic_list:
    if element not in FR_List:
        FR_List.append(element)

FR_List[:40]

['',
 'MA',
 'USA',
 'China',
 'United States',
 'Saudi Arabia',
 'Egypt',
 'India',
 'Turkey',
 'Italy',
 'Japan']

In [60]:
len(FR_List)

11

In [69]:
unique_zipcodes = list(set(FR_List))
unique_zipcodes.sort()
unique_zipcodes[:10]

['',
 'China',
 'Egypt',
 'India',
 'Italy',
 'Japan',
 'MA',
 'Saudi Arabia',
 'Turkey',
 'USA']

In [70]:
len(unique_zipcodes)

11

In [71]:
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
local = pd.read_csv('Lat_countries.csv', engine='python', skipfooter=3)
local.head(6)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla
5      AL  41.153332  20.168331               Albania

In [78]:
local = local[local.name.isin(FR_List)]
local.head(10)

    country   latitude   longitude           name
45       CN  35.861660  104.195397          China
61       EG  26.820553   30.802498          Egypt
102      IN  20.593684   78.962880          India
107      IT  41.871940   12.567380          Italy
111      JP  36.204824  138.252924          Japan
189      SA  23.885942   45.079162   Saudi Arabia
219      TR  38.963745   35.243322         Turkey
227      US  37.090240  -95.712891  United States

In [79]:
len(local)

8